:host {
  display: flex;
  width: 100vw;
  height: 100vh;
  margin: auto;

  .router-wrapper {
    width: 50vw;
    height: calc(100vh - 6rem);
    padding: 2rem;
  }

  .poster-wrapper {
    width: 50vw;
    height: 100vh;
    padding: 2rem;
  }

  @media only screen and (max-width: 768px) {
    .router-wrapper {
      width: 100vw;
    }
    .poster-wrapper {
      display: none;
    }
  }

  @media only screen and (min-width: 1600px) {
    width: 1600px;

    .router-wrapper {
      width: 800px;
    }

    .poster-wrapper {
      width: 800px;
    }
  }
}
